.homeContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% - 220px); 
  margin-left: 220px; 
  border-left: 0.5px solid rgba(204, 204, 204, 0.5);
  background-color: hsl(210, 34%, 13%);
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}


.contentWrapper {
  display: flex;
  flex: 1;
  overflow-y: auto; 
}
.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 10;  
  background-color: hsl(210, 34%, 13%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mainSection {
  flex-grow: 1;
  width: 640px;
  border-right: 0.5px solid rgba(204, 204, 204, 0.5);
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  /* height: 100vh;  */
  margin-top: 0;
  /* flex-shrink: 0; */
  /* height: 100vh; */
  /* box-sizing: border-box; */
}

.mainContent{
  display: flex;
  flex-direction: row;
  /* height: auto; */
  
}

.mainContentFollowing{
  display: flex;
  flex-direction: row;
}

.mainInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.mainInfo button{
  width: 20%;
  background-color: #1d9bf0;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
.sideSection {
position:sticky;
  width: 390px;
  overflow: hidden;
  height: fit-content;
  align-self: flex-start;
  /* height: 100vh; */
  /* flex-shrink: 0; */

}


.tabs {
  display: flex;
  justify-content: space-around;
  /* border-bottom: 0.5px solid rgba(204, 204, 204, 0.5); */
  /* margin: 5px 0; */
  position:sticky;
  top: 0;
  background-color: hsl(210, 34%, 13%);
  z-index: 10;
}

.buttonTabs{
  width:848px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* gap: 200px; */
  margin: 0 auto;
  border-right: 0.5px solid rgba(204, 204, 204, 0.5);
}

.tabs button {
  background: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  /* margin-bottom: 20px; */
  transition: color 0.3s, border-bottom 0.3s;
  color: #fff;
}


.tabs button:hover {
  color: #1d9bf0;
  border-bottom: 1px solid #1d9bf0;
}

.activeTab {
  color: #1d9bf0;   
}

.activeTabFollowing{
  /* color: #1d9bf0;  */
  /* border-bottom:none; */
}

.tabContent {
  /* padding: 20px; */
  /* border-bottom: 1px solid #ccc; */

}

