.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: rgba(21, 32, 43, 0.75);
  backdrop-filter: blur(12px);
  z-index: 10;
  /* gap: 30px; */
}

.settingsButton {
  background: none;
  border: none;
  color: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.settingsButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}