.container {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 0.5px solid rgba(204, 204, 204, 0.5);
}

.shoutOutItem {
  display: flex;
  padding: 20px 20px 0 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.userContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
  cursor: pointer;
}

.name {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #555;
  margin: 0;
}

.date {
  color: #888;
  font-size: 0.9rem;
  margin: 0;
}

.icon {
  cursor: pointer;
  color: #888;
}

.content {
  margin: 0;
}

.media {
  /* position: relative; */
  width: 90%;
  height: auto;
  overflow: hidden;
  border-radius: 8px; 
  margin: 1rem 0; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  background: #000;
}

/* Shared media child styling */
.media iframe,
.media video,
.media img {
  /* position: absolute; */
  
  width: 100%;
  height: 100%;
  object-fit:cover; 
  aspect-ratio: 1/1;
  border: none; 
}

.mediaGiphy{
  position: relative;
  /* width: 100%; */
  border-radius: 8px;
  /* height: 100%; */
  object-fit: cover;
}



.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 14px;
}

.iconInfo {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  /* transition: background-color 0.3s, color 0.3s; */
}

.iconInfo::after {
  content: attr(data-tooltip); 
  position: absolute;
  bottom: -5px; 
  left: 35px;
  transform: translateX(-50%);
  background-color:#007bff; 
  color: #fff; 
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  white-space: nowrap; 
  z-index: 10;
}

.iconInfo:hover::after {
  opacity: 1;
  visibility: visible;
}

.iconForward, .iconShare{
  position: relative;
}

.iconForward::after , .iconShare::after{
  content: attr(data-tooltip); 
  position: absolute;
  bottom: -20px; 
  left: 35px;
  transform: translateX(-50%);
  background-color:#007bff; 
  color: #fff; 
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  white-space: nowrap; 
  z-index: 10;
}



.iconForward:hover::after , .iconShare:hover::after{
  opacity: 1;
  visibility: visible;
}

.lottieWrapper {
  width: 45px;
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.lottieWrapper:hover.lottie {
  transform: rotateY(180deg);
}

.iconInfo i {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  color: #888;
  transition: color 0.3s, color 0.3s;
}

.iconInfo i:hover {
  background-color: rgba(0, 123, 255, 0.1); 
  color: #007bff; 
  cursor: pointer;
}

.iconInfo i:nth-last-child(1):hover {
  background-color: rgba(223, 122, 134, 0.1); 
  color: #ec1919; 
  cursor: pointer;
}


.iconInfo span {
  transition: color 0.3s;
}

.iconInfo:hover span {
  color: #007bff; 
}

.bookmarkForward {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.bookmarkForward i {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.bookmarkForward i:hover {
  background-color: rgba(0, 123, 255, 0.1); 
  color: #007bff;
  cursor: pointer;
}

.reshoutedHeader {
  display: flex;
  align-items: center;
  color: #666; 
  font-size: 0.9rem;
  margin: 2px 20px;
}

.reshoutedHeader i {
  margin-right: 5px;
  color: #50b7f5; 
}


.reshouted {
  font-size: 12px;
  font-weight: bold;
  color: #1d9bf0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.reshoutedContent {
  margin-top: 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid var(--border); */
  border-radius: 0.5rem;
  /* background-color: var(--popover); */
}
.originalPost {
  margin-top: 0.5rem;
  padding: 20px;
  border: 1px solid ;
  border-radius: 0.5rem;
  /* background-color: var(--card); */
}
.originalHeader {
  display: flex;
  align-items: center;
}

.originalProfile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.originalAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.originalName {
  font-weight: bold;
}
.originalUsername {
  
}
.originalDate {
  
  font-size: 0.8rem;
}
.originalContent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: ;
}

.originalMedia {
  width: 100%;
  margin-top: 0.5rem;
  
}
.contentContainer {
  width: 100%;
  margin-top: 0.5rem;
 
}
.contentMedia img,
.contentMedia video,
.contentMedia iframe {
  width: auto;
  height: auto;
  object-fit: contain;
  max-height: 400px;
  display: block;
}

@media (max-width: 768px) {
  .mediaContainer {
    padding-bottom: 75%; /* Adjust aspect ratio for smaller screens */
  }
}

@media (max-width: 480px) {
  .mediaContainer {
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  }
}
